.header-color{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img{
  width: 30%;
  height: auto;
  padding-top: 3em;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 55%;
  margin: auto;
  border-radius: 20px;
}

.banner-text h1{
  font-size: 300%;
  font-weight: bold;
  color: white;
  margin-left: 5%;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin-left: 26%;
}

.banner-text p{
  color: white;
  font-size: 110%;
  padding: 1em;
  margin-left: 5%;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid{
  display: flex;
}

.contact-body{
  margin: auto;
  height: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
 
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 650px;
  background: whitesmoke;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2{
  font-family: 'Anton', sans-serif;
  font-size: 200%;
}

.contact-grid p{
  font-family: 'Oxygen',sans-serif;
  font-weight: bold;
  font-size: 140%;
}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  height: auto;
  margin: auto;
  font-size: 140%;
}

.contact-list i{
  font-size: 200%;
  padding-right: 2rem;
  padding-left: 8rem;
}

.resume-body nav{
  text-align: center;
  margin: auto;
}

.resume-body nav button{
  width: 10%;
  height:10%;  
}

.resume-body{
  background: whitesmoke;
  color: black;
}

.resume-document{
  width: 50%;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.resume-document p{
  text-align: center;
  margin: auto;
}



